@font-face {
    font-family: funnel;
    src: url(fonts/FunnelDisplay-Regular.ttf) format(truetype);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: funnel;
    background-color: #EAE0D5;
}

header {
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    background-color: #22333B;
}

header div {
    text-align: center;
    flex-grow: 1;
}

a img {
    display: inline;
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.form-area {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.form-hidden {
    display: none;
}

.form-expanded {
    font-size: 20px;
    background: lightgrey;
    border-radius: 15px;
    padding: 1em;
}

form label {
    margin-right: 8px;
    font-weight: 700;
}

form input {
    margin-right: 2em;
    border-radius: 5px;
    border: none;
}

input[type=text],
input[type=number] {
    height: 1em;
    padding: 10px;
    font-size: 20px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;

}

input[type=submit] {
    padding: 1em;
    
    font-weight: 700;
    border: 1px solid grey;
    background-color: white;
}

input[type=submit]:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#expand-form {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
}

#expand-form:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
}

.content {
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.book-card {
    background-color: #C6AC8F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border-radius: 20px;
    border: 3px solid #5E503F;
    padding: 1em;

    position: relative;
}

.book-title {
    grid-column: 1 / 3;
    justify-self: center;
    text-align: center;

    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.book-author {
    grid-column: 1 / 3;
    justify-self: center;

    font-size: 22px;
}

.book-pages {
    justify-self: center;
    font-size: 18px;
}

/* From UI-Verse: https://uiverse.io/elijahgummer/lovely-hound-41 */

.book-read{
    justify-self: center;
    font-size: 18px;
    --blue: #0d7eff;
    --g08: #e1e5eb;
    --g04: #848ea1;
    text-align: center;
  }

.book-read .tgl {
display: none;
}

.book-read .tgl,
.book-read .tgl:after,
.book-read .tgl:before,
.book-read .tgl *,
.book-read .tgl *:after,
.book-read .tgl *:before,
.book-read .tgl + .tgl-btn {
  box-sizing: border-box;
}

.book-read .tgl::selection,
.book-read .tgl:after::selection,
.book-read .tgl:before::selection,
.book-read .tgl *::selection,
.book-read .tgl *:after::selection,
.book-read .tgl *:before::selection,
.book-read .tgl + .tgl-btn::selection {
  background: none;
}

.book-read .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.book-read .tgl + .tgl-btn:after,
.book-read .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}

.book-read .tgl + .tgl-btn:after {
    left: 0;
}

.book-read .tgl + .tgl-btn:before {
    display: inline;
    position: absolute;
    top: 7px;
}

.book-read .tgl:checked + .tgl-btn:after {
    left: 56.5%;
}

.book-read .tgl + .tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.book-read .tgl + .tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.book-read .tgl + .tgl-btn:before {
    content: "No";
    left: 28px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.book-read .tgl + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.book-read .tgl + .tgl-btn:active:after {
    padding-right: 0.4em;
}
.book-read .tgl:checked + .tgl-btn {
    background: var(--blue);
}
.book-read .tgl:checked + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}
.book-read .tgl:checked + .tgl-btn:active:after {
    margin-left: -0.4em;
}
.book-read .tgl:checked + .tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}

/* Starting here self written */

.remove-book {
    color: white;
    font-weight: 700;
    font-size: 17px;
    background-color: rgb(186, 15, 15);
    border: 2px solid rgb(142, 13, 13);;
    border-radius: 45%;
    width: 2em;
    height: 2em;
    text-align: center;
    
    position: absolute;
    top: -7%;
    right: -2%;
}

.remove-book:hover {
    cursor: pointer;
    background-color: rgb(240, 1, 1);
}